<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="ResponderBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="rivta_bp21_refapp_producer.Responder" behaviorConfiguration="ResponderBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:12001/rivtabp21/refapp/MakeBookingInteractionService" />
            <add baseAddress = "https://localhost:12000/rivtabp21/refapp/MakeBookingInteractionService" />
          </baseAddresses>
        </host>
        <endpoint name="MakeBookingInteractionService"
                  address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="ResponderBinding"
                  contract="rivta_bp21_refapp_schemas.wsdl.MakeBookingResponderInterface">
        </endpoint>
      </service>
      <service name="rivta_bp21_refapp_producer.PingResponder" behaviorConfiguration="ResponderBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:12001/rivtabp21/refapp/PingForConfigurationInteractionService" />
            <add baseAddress = "https://localhost:12000/rivtabp21/refapp/PingForConfigurationInteractionService" />
          </baseAddresses>
        </host>
        <endpoint name="PingForConfigurationInteractionService"
                  address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="ResponderBinding"
                  contract="rivta_bp21_refapp_schemas.wsdl.PingForConfigurationResponderInterface" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ResponderBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
