<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="ResponderBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ResponderBehavior">
          <clientCredentials>
            <clientCertificate findValue="RivTaConsumer" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint name="ResponderPort"
                address="https://localhost:12000/rivtabp20/refapp/riv13606RequestEHRExtract" 
                binding="basicHttpBinding"
                bindingConfiguration="ResponderBinding"
                behaviorConfiguration="ResponderBehavior"
                contract="rivta_bp20_refapp_schemas.wsdl.EhrExtractionResponderInterface" />
    </client>

  </system.serviceModel>
</configuration>