<?xml version="1.0"?>
<configuration>
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="ResponderBinding">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="ResponderBehavior">
          <clientCredentials>
            <clientCertificate findValue="RivTaConsumer" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>
      <endpoint name="ResponderPort" address="https://localhost:12000/rivtabp21/refapp/MakeBookingInteractionService" binding="basicHttpBinding" bindingConfiguration="ResponderBinding" behaviorConfiguration="ResponderBehavior" contract="rivta_bp21_refapp_schemas.wsdl.MakeBookingResponderInterface"/>
      <endpoint name="PingResponderPort" address="https://localhost:12000/rivtabp21/refapp/PingForConfigurationInteractionService" binding="basicHttpBinding" bindingConfiguration="ResponderBinding" behaviorConfiguration="ResponderBehavior" contract="rivta_bp21_refapp_schemas.wsdl.PingForConfigurationResponderInterface"/>
    </client>

  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
